<html>
    <head>
        <title> Login </title>
    </head>
    <h1> Login form </h1>
    <!--Include JS and CSS files here-->

    <div class = "container">
        <div class = "main" >
            <form id="login-form" method = "post" name="login-form" action="/login">
                <label> Users:</label>
                <input type="text" name="user-name" id="user-name" required />
                
                <label> Password:</label>
                <input type="password" name="password" id="password" required/>
                
                <input type="submit" value="SUBMIT" id="submit-button"/> 
            </form>
        </div>
    </div>
</html>