<html>
    <head>
        <title> Login </title>
        <h1> Login form </h1>
        <!--Include JS and CSS files here-->
        <script src="static/js/login.js"></script>

        <div class = "container">
            <div class = "main" >
                <form id="form-id" method = "post" name="my-form"
                <label> Users:</label>
                <input type="text" name="user-name" id="user-name" />
                <label> Password:</label>
                <input type="text" name="password" id="password"/>
                <!--The submit button uses the javascript function validate() to check if credentials is in the database-->
                <input type="button" value="SUBMIT" id="submit-button" onclick="validate_cred()"/> 
            </div>
        </div>
    </head>
</html>